@import url("https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------Home------ */

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0), rgba(4, 9, 30, 0.1)),
    url(../img/greybg.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 0.5%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 65px;
  margin: 0px 20px;
  margin-left: 35px;
}

.navlinks {
  flex: 1;
  text-align: right;
}

.navlinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 50px;
  position: relative;
}

.navlinks ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  /* font-weight: 200; */
  font-family: "Oswald", sans-serif;
}

.navlinks ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #00d1a0;
  border-radius: 3px;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.navlinks ul li:hover::after {
  width: 100%;
}

.textbox {
  width: 90%;
  color: #00d1a0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  text-align: center;
}

.textbox h1 {
  font-size: 72px;
}

.textbox p {
  margin: 10px 0 40px;
  font-size: 35px;
}

.herobtn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid #05a17c;
  border-radius: 12px;
  padding: 12px 34px;
  font-size: 13px;
  background: #05a17c;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  margin-top: 50px;
}

.herobtn:hover {
  border: 1px solid #00d1a0;
  background: #00d1a0;
  transition: 0.4s;
  color: black;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.U {
  color: #00d1a0;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  max-width: 50%;
}

.right img {
  width: 95%;
  /* padding-left: 100px; */
  /* padding-top: 30px; */
}

.left {
  text-align: right;
  margin: 0px 50px;
  max-width: 50%;
}

.left h1 {
  font-size: 100px;
  color: white;
}

.left p {
  font-size: 30px;
  color: #00d1a0;
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}

.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 3px 3px;
}

/* -------About---------- */

.about {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 40px 0;
  min-height: 100vh;
}

.about h1 {
  font-size: 60px;
}

.about .underline {
  margin: 0 41%;
  margin-top: -8px;
  margin-bottom: 30px;
}

.cols {
  display: flex;
  margin-top: 3%;
  justify-content: space-between;
}

.leftcol {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftcol img {
  width: 550px;
}

.rightcol {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* padding-left: 20px; */
}

.rightcol p {
  padding: 15px;
  font-size: 18px;
  font-weight: 520;
}

/* -------Upstart Edge------- */
.bg {
  width: 90%;
  margin: auto;
  padding-top: 40px;
  min-height: 100vh;
}

.Edge h2 {
  font-family: "Vujahday Script", cursive;
  font-size: 45px;
  margin: 20px;
}

.cols .leftpart{
  width: 20%;
}
.cols .leftpart img {
  height: 80%;
}

.mid{
  width: 52%;
}
.mid h1 {
  font-size: 40px;
  margin: 0 20px;
}

.mid p {
  font-size: 25px;
  font-weight: 600;
  margin: 30px 20px;
}

.group {
  display: flex;
  margin: 30px 0;
}

.block {
  color: white;
  border-radius: 28px;
  text-align: center;
  width: 200px;
  height: 180px;
  margin: 20px 10px;
}
.color1 {
  background-color: #0d9978;
}
.color2 {
  background-color: #03b38a;
}
.color3 {
  background-color: #00d1a0;
}

.block h1 {
  padding: 15px 0;
  font-size: 28px;
  letter-spacing: 3px;
}
.block h3 {
  font-size: 26px;
}

.cols .right img {
  width: 250px;
}

.right1 {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 30%;
}

.right1 img {
  border-radius: 50%;
  border: 20px solid #00d1a0;
  margin: 10px 20px;
  width: 250px;
  height: 250px;
}

.right1 .border {
  margin-top: -160px;
  margin-left: 116px;
}

/* -------Delegates Section-------  */
.black {
  background-color: black;
  color: white;
}
.heading1 {
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  color: white;
}

.underline {
  width: 97px;
  height: 7px;
  background-color: #066b23;
  margin: 0 34%;
  margin-top: -2px;
  margin-bottom: 30px;
}

.Delegates .underline {
  margin: 0 35.5%;
  margin-top: 0px;
  margin-bottom: 35px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row .col {
  width: 25%;
  color: black;
  margin: 30px 35px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  border-bottom: 3px solid #066b23;
  border-radius: 8px;
  transition: 0.3s ease;
}
.col p {
  margin: 10px 20px;
}
.photo img {
  margin-top: 40px;
  width: 15vw;
  border-radius: 50%;
}

/* -------Event Timeline------- */
#timeline .underline {
  margin: 0 35%;
  margin-top: 0px;
  margin-bottom: 36px;
}
#timeline .container .vertical {
  display: none;
}
.date {
  margin: 8px 15px;
}
.down {
  margin-bottom: -17%;
}
.up {
  margin-top: -21%;
}

/* -------Upstart National------- */
.heading {
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}

#Nationals .flex-center{
  margin: auto;
  width: 92%;
}

#Nationals .underline {
  margin: 0 33%;
  margin-top: 5px;
  margin-bottom: 36px;
}

.rightborder {
  margin: 10px 30px;
}
.circle {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: black;
}

.rightline {
  height: 1000px;
  width: 6px;
  background: black;
  margin-left: 7px;
}

.flex-center .container h1 {
  font-size: 52px;
  margin: 20px 0;
  margin-top: 60px;
}
.images {
  width: 94%;
}
.images img {
  width: 48%;
}

.content {
  width: 65%;
  margin-right: -15%;
}
.content p {
  font-size: 18px;
}

.ver {
  width: 65%;
  margin-right: -13%;
}

.ver h1 {
  transform: rotate(90deg);
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 6px;
}

/* -------Incentives------- */

.incentive {
  background-color: black;
}

.incentive .underline {
  margin: 0 39%;
  margin-top: -4px;
  margin-bottom: 36px;
}

.mainrow {
  display: flex;
  justify-content: space-evenly;
}

.colo1 {
  color: rgb(6, 107, 35);
  background-color: white;
  padding: 25px;
  margin: 10px 20px;
  width: 33%;
  border-radius: 25px;
}
.mainrow .colo1 h3 {
  text-align: center;
  margin: 20px 0;
}
.middlecol1 {
  position: relative;
}
.middlecol2 {
  position: relative;
}

/* -------Competition Structure------- */
#Competition .underline {
  margin: 0 27%;
  margin-top: 4px;
  margin-bottom: 36px;
}

.wrapper {
  position: relative;
}
.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 5px;
  background: #066b23;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper .row {
  display: flex;
}
.wrapper .row1 {
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.wrapper .row2 {
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.icon {
  display: flex;
}
.wrapper .row2 .icon h1 {
  margin-right: 52%;
  margin-left: 28px;
}
.wrapper .row2 .icon img {
  margin-right: -16px;
  margin-left: -45%;
}
.wrapper .row1 .icon img {
  margin-right: 7px;
  margin-left: 55%;
}
.wrapper .row1 .icon h1 {
  margin-right: -20%;
  margin-left: 20px;
}

.wrapper .row .timeline-content {
  position: relative;
  background: white;
  box-shadow: 0px 0px 14px rgb(232 232 232 / 45%);
  width: calc(40% - 50px);
  border-bottom: 3px solid #066b23;
  padding: 38px;
  border-radius: 20px;
  transition: 0.3s ease;
  cursor: pointer;
  color: black;
}
.wrapper .row .cir2{
  position: relative;
  right: 67px;
  bottom: 67px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #066b23;
}
.wrapper .row .cir1{
  position: relative;
  right: -67px;
  bottom: 67px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #066b23;
}
/* .wrapper .row .timeline-content::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #066b23;
}

.row1 .timeline-content::before {
  right: -87px;
}
.row2 .timeline-content::before {
  left: -87px;
} */

.timeline-content p {
  line-height: 30px;
  text-align: justify;
}

.timeline-content:hover {
  transform: scale(1.03);
}

/* -------Judging Criteria------- */

.judging {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  min-height: 100vh;
  background-color: #f0fffa;
  padding-bottom: 60px;
}

.judging .underline {
  margin: 0 38%;
  margin-top: -27px;
  margin-bottom: 36px;
}

.judging h1 {
  font-size: 40px;
  padding-bottom: 35px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 8%;
}

.box {
  border-radius: 30px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 0px 45px;
  margin: auto;
  margin-bottom: 13px;
  padding-left: 70px;
  font-weight: 605;
  font-size: 28px;
  box-shadow: 0 4px 0 #066b23;
  cursor: pointer;
}

.box:hover {
  font-size: 30px;
  padding: 2px 73px;
  font-weight: 700;
  transition: 0.4s;
}

.box img {
  width: 40px;
  padding: 15px;
}

/* -------eligibility------- */

.eligibility {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  min-height: 100vh;
  background-color: white;
  padding-bottom: 50px;
}

.eligibility h1 {
  font-size: 50px;
}

.eligibility .underline {
  margin: 0 41%;
  margin-top: 5px;
  margin-bottom: 36px;
}

.eligcols {
  display: flex;
  justify-content: space-between;
  margin: 5% 0%;
}

.eligleft {
  margin: 0px;
}

.eligleft img {
  width: 80%;
}

.eligp {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  padding-left: 52px;
  padding-right: 45px;
}

.eligright .info {
  display: flex;
  justify-content: space-between;
  text-align: left;
  /* margin: 35px; */
}

.eligright .info p {
  padding-right: 25px;
  margin: 12px 2px;
}

.eligright .info img {
  padding: 20px;
  width: 30px;
  height: 30px;
}

/* Terms and Consitions  */
.Terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  margin-bottom: 70px;
}

.Terms .image img {
  border: 3px solid black;
  border-radius: 50%;
  margin: 20px;
  margin-top: 3.4vw;
}
#termsandconditions h1 {
  text-align: center;
  font-size: 55px;
}

.Terms .image .dot1 {
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  left: 235px;
  top: 49px;
}
.Terms .image .dot2 {
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  left: 235px;
  top: -28px;
}
.Terms .image .upline {
  height: 120px;
  width: 5px;
  background: black;
  position: relative;
  left: 240px;
  top: 49px;
}
.Terms .image .lowline {
  height: 120px;
  width: 5px;
  background: black;
  position: relative;
  left: 240px;
  top: -27px;
}
.Conditions{
  margin-bottom: 30px;
}
.Conditions .point{
  position: relative;
  background: #1abc9c;
  padding: 12px 20px;
  color: white;
  border-radius: 24px;
  margin-top: 54px;
}

.Conditions .point h3{
  font-size: 18px;
}

.one{
  right: 70%;
}
.two{
  right: 45%;
}
.three{
  right: 25%;
}
.four{
  right: 10%;
}
.five{
  right: 25%;
}
.six{
  right: 45%;
}
.seven{
  right: 70%;
}




/* Contact Section design  */
/* * {
  margin: 0;
  padding: 0;
}
#contactus h1 {
  text-align: center;
  font-size: 3vw;
  font-weight: 900;
}
#contactus h3 {
  text-align: center;
  font-size: 1.5vw;
  font-weight: 400;
  padding: 20px 0px 70px 0px;
}
.divider {
  display: flex;
  justify-content: space-around;
}
.rightcontact h4 {
  padding-bottom: 40px;
  font-size: 2vw;
}
.rightcontact p {
  padding-bottom: 40px;
  font-size: 1.3vw;
}
.icons {
  display: flex;
  justify-content: start;
  padding: 25px 0px;
}
.icons span {
  font-size: x-large;
  padding: 0px 20px;
}
.contactbox {
  background-color: rgb(246, 248, 255);
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: -20px -25px 3px 3px rgb(192, 192, 192);
}
.contactbox h2 {
  text-align: center;
  padding-top: 30px;
}
.contactbox input {
  width: 25vw;
  padding: 10px;
}
.contactbox form {
  text-align: center;
  padding: 30px;
}
.name {
  padding: 40px;
}
.gamil {
  padding: 40px;
}
.message input {
  height: 10vh;
}
.message {
  padding: 40px;
}
button {
  background-color: rgb(29, 82, 130);

  color: white;
  border: none;
  padding: 20px;
  border-radius: 10px;
}
.part3 img {
  padding: 0px 30px 30px 0px;
} */


/* Footer design  */
footer {
  background-color: black;
  padding-top: 60px;
  color: white;
  margin-top: 60px;
}
.dividefooter {
  display: flex;
  justify-content: space-around;
  padding-bottom: 80px;
}
footer h1 {
  color: rgb(0, 209, 160);
  padding: 20px 0px;
}
footer h2 {
  padding: 10px 0px;
}
footer p {
  text-align: center;
  font-size: 1vw;
  padding-bottom: 20px;
}
hr {
  width: 80vw;
  /* padding: 10px; */
  margin-left: 10vw;
}

/* ------Responsive-------- */

@media only screen and (max-width: 1000px) {
  .navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav img {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .burger {
    display: block;
  }

  .hnavresp {
    height: 55px;
  }

  .vclassresp {
    opacity: 0;
  }
}

@media screen and (min-width: 900px) {
  .middlecol1 {
    position: relative;
    top: 100px;
  }
  .middlecol2 {
    position: relative;
    bottom: 100px;
  }
  .bottomrow {
    padding-top: 18vw;
  }
}
