*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* -------Home------ */

.header{
    min-height: 100vh;
    width: 100%;
     background-image: linear-gradient(rgba(4,9,30,0),rgba(4,9,30,0.1)),url(img/greybg.png);
     background-position: center;
     background-size: cover;
     position: relative;
}

nav{
    display: flex;
    padding: 0.5%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 65px;
    margin: 0px 20px;
    margin-left: 35px;
}

.navlinks{
    flex: 1;
    text-align: right;
}

.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 50px;
    position: relative;
}

.navlinks ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    /* font-weight: 200; */
    font-family: 'Oswald', sans-serif;
}

.navlinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color:#00D1A0;
    border-radius: 3px;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.navlinks ul li:hover::after{
    width: 100%;
}

.textbox{
    width: 90%;
    color: #00D1A0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%,-50%);
    text-align: center;
}

.textbox h1{
    font-size: 72px;
}

.textbox p{
    margin: 10px 0 40px;
    font-size: 35px;
}

.herobtn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #05a17c;
    border-radius: 12px;
    padding: 12px 34px;
    font-size: 13px;
    background: #05a17c;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
}

.herobtn:hover{
    border: 1px solid #00D1A0;
    background: #00D1A0;
    transition: 0.4s;
    color: black;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.U{
    color: #00D1A0;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right{
    display: flex;
    justify-content: right;
    align-items: center;
    max-width: 50%;
}

.right img{
    width: 95%;
    /* padding-left: 100px; */
    /* padding-top: 30px; */
}

.left{
   text-align: right;
   margin: 0px 50px;
   max-width: 50%;
}

.left h1{
    font-size: 100px;
    color: white;
}

.left p{
    font-size: 30px;
    color: #00D1A0;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}

/* -------About---------- */

.about{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    min-height: 100vh;
}

.about h1{
    font-size: 70px;
    font-weight: 1000;
}

.cols{
    display: flex;
    margin-top: 3%;
    justify-content: space-between;
}

.leftcol{
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftcol img{
    width: 550px;
}

.rightcol{
    display: flex;
    flex-direction: column;
    text-align: left;
    /* padding-left: 20px; */
}

.rightcol p{
    padding: 15px;
    font-size: 18px;
    font-weight: 520;
}

/* -------Judging Criteria------- */

.judging{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    min-height: 100vh;
    background-color: #EAEDF1;
    padding-bottom: 60px;
}

.judging h1{
    font-size: 40px;
    padding-bottom: 35px;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.box{

    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
    margin: 13px 250px;
    padding-left: 70px;
    font-weight: 605;
    font-size: 28px;
    box-shadow: 0 4px 0 #1D5282;
    cursor: pointer;
}

.box:hover{
    font-size:30px;
    padding: 2px 73px;
    font-weight: 700;
    transition: 0.4s;
}



.box img{
    width: 40px;
    padding: 15px;
}

/* -------eligibility------- */

.eligibility{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    min-height: 100vh;
    background-color: white;
    padding-bottom: 50px;
}

.eligibility h1{
    font-size: 50px;
}

.eligcols{
    display: flex;
    justify-content: space-between;
    margin: 5% 0%;
}

.eligleft{
    margin: 0px;
}

.eligleft img{
    width: 80%;
}



.eligp{
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    padding-left: 52px;
    padding-right: 45px;
}

.info{
    display: flex;
    justify-content: space-between;
    text-align: left;
    /* margin: 35px; */
}

.info p{
    padding-right: 25px;
}

.info img{
    /* padding-right: 50px; */
}
/* ------Responsive-------- */

@media only screen and (max-width: 1000px){
    .navlist{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .nav img{
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .burger{
        display: block;
    }

    .hnavresp{
        height: 55px;
    }

    .vclassresp{
        opacity: 0;
    }
}

